<mat-card>
  <div>
    <button color="primary" mat-flat-button (click)="addTask()">Add Task</button>
  </div>
  <div class="task" *ngFor="let task of taskList; let i = index">
    <div>
      <span >Task number :</span> {{i +1}}
      <span class="remove">
        <button color="warn" mat-flat-button (click)='removeTask(i)'> X</button>
      </span>
    </div>

    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="task.title">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <input matInput [(ngModel)]="task.description">
      </mat-form-field></td>
    </tr></table>
  </div>
</mat-card>